.content{
width: 50%;
color: white;
margin-left:5% ;
margin-top: 10px;
}
.pBold{
    font-size: 12px ;
    font-weight: bold;
    padding: 10px;
}
.spaces{
    margin-left: 3%;
    display: flex;
}
.downP{
    padding-top: 35%;
}
.test{
    display:flex;
    font-size:12px;
    /* justify-content: space-around; */
}
.testimagdiv{
    display:flex;
    font-size:12px;
    justify-content: space-between;
}
.contain{
padding:5%;
    font-size:12px;
}
.coustomer{
    font-size:20px;
    font-weight:bold;
    margin-left: 15%;
    margin-bottom:20px;
    margin-top:20px;
}
.imagee{
    width: 20%;
    height: 20%;
}
.blog{
    font-size: 10px;
  
    /* border: 2px red solid; */
}
.imagesss{
    width: 25%;
    height: 25vh;
}